@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

// Variables
$primary: #88c0d0;
$secondary: hsl(358, 100%, 62%);
$dark: #2e3440;
$dark-lighter: #3b4252;

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: transparent;
  background: linear-gradient(222deg, hsl(0, 0%, 98%) 50%, hsl(0, 0%, 96%) 80%);
  background-attachment: fixed;
  color: $dark;
  display: grid;
  grid-template-areas:
    "header dark-mode"
    "calc calc";
  grid-template-columns: repeat(2, 1fr);
}

header {
  grid-area: header;
  align-items: center;
  align-self: start;
  color: hsl(220, 16%, 22%);
  display: flex;
  justify-content: space-between;
  justify-self: start;
  padding: 0.7rem 1.2rem;
  user-select: none;

  .accent {
    color: darken($primary, 15%);
  }
  .title-container {
    align-items: center;
    column-gap: 0.7rem;
    display: flex;
  }

  .page-title {
    font-family: "IBM Plex Mono", monospace;
    font-weight: normal;
  }
}

//  Light mode and basic calculator
.calc-container {
  grid-column: span 2;
  grid-area: calc;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 75px);
  margin: 0 auto 15px auto;
  padding: 0.5rem;

  #display {
    background-color: inherit;
    font-size: 1.5rem;
    grid-column: span 4;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: end;
    user-select: text;
  }

  button {
    background-color: inherit;
    border-radius: 10px;
    border: none;
    color: $dark;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8em 1rem;
  }

  button:hover {
    background: hsl(0, 0%, 90%);
  }

  button:active {
    background: hsl(0, 0%, 80%);
  }

  #absolute,
  #one-divided-by-x {
    letter-spacing: 0.1em;
  }

  .trig {
    background-color: lighten($primary, 27%);
  }

  #mod {
    color: $secondary;
    font-weight: bold;
  }

  #equal {
    background-color: $primary;
    border: none;
    color: hsl(0, 0%, 98%);
    grid-column: span 4;
    transition: 0.2s;
    box-shadow: 0px 0px 3px $primary;
  }

  #C {
    grid-column: span 4;
    transition: 0.2s;
    color: hsl(0, 0%, 98%);
    box-shadow: 0px 0px 3px $secondary;
    background-color: $secondary;
  }

  #equal:active,
  #C:active {
    opacity: 0.8;
  }

  .op-basic,
  .fa-minimize,
  .fa-expand {
    color: darken($primary, 10%);
  }

  .sci {
    display: none;
  }
}

// Light mode and scientific calculator
.calc-container.active {
  grid-template-columns: repeat(5, 60px);

  .sci {
    display: inline;
  }

  #display {
    grid-column: span 5;
  }

  #C {
    grid-column: span 1;
  }

  #equal {
    grid-column: span 1;
  }

  #sci-toggle {
    background-color: hsl(0, 0%, 90%);
  }

  #sci-toggle:hover {
    background-color: hsl(0, 0%, 80%);
  }

  #sci-toggle:active {
    background-color: hsl(0, 0%, 70%);
  }

  .hidden {
    display: none;
  }

  .second-row-pressed {
    background-color: $primary;
    color: #fafafa;
    font-weight: bold;
  }
}

// Dark theme
body.dark {
  background: $dark;
  color: hsl(0, 0%, 98%);

  header {
    color: hsl(0, 0%, 98%);

    .accent {
      color: lighten($primary, 15%);
    }
  }

  button {
    border: none;
    color: hsl(0, 0%, 98%);
  }

  button:hover {
    background-color: lighten($dark, 10%);
  }

  .trig {
    background-color: inherit;
    color: $primary;
    font-weight: 600;
  }

  #mod {
    color: lighten($secondary, 10%);
  }

  .op-basic,
  .fa-minimize,
  .fa-expand {
    color: lighten($primary, 10%);
  }

  #C {
    background-color: lighten($secondary, 10%);
  }

  .calc-container.active #sci-toggle {
    background-color: lighten($dark, 20%);
  }
}

// Dark mode button
#dark-mode-toggle {
  grid-area: dark-mode;
  cursor: pointer;
  justify-self: end;
  padding: 1rem;
}

.fa-moon:hover,
.fa-sun:hover {
  opacity: 0.8;
}

#arcsin,
#arccos,
#arctan {
  font-size: 0.7rem;
}

// Media query for desktop
@media screen and (min-width: 1000px) {
  body {
    grid-template-areas: "header calc dark-mode";
    grid-template-columns: repeat(3, 1fr);
  }

  #equal:hover,
  #C:hover {
    transform: scale(1.01);
    opacity: 0.8;
  }

  .calc-container.active {
    grid-template-columns: repeat(5, 75px);
  }
}
