@import "./vars";

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

//  Light mode and basic calculator
.calculator {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 75px);
  margin: 0 auto 15px auto;
  padding: 0.5rem;
  height: 85vh;

  #display {
    background-color: inherit;
    font-size: 1.5rem;
    grid-column: span 4;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: end;
    user-select: text;
  }

  button {
    background-color: inherit;
    border-radius: 10px;
    border: none;
    color: $dark;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.8rem 1rem;

    &:hover {
      background: hsl(0, 0%, 90%);
    }

    &:active {
      background: hsl(0, 0%, 80%);
    }
  }

  #absolute,
  #one-divided-by-x {
    letter-spacing: 0.1rem;
  }

  .trig {
    background-color: lighten($primary, 27%);
  }

  #mod {
    color: $secondary;
    font-weight: bold;
  }

  #equal {
    background-color: $primary;
    border: none;
    color: $light;
    grid-column: span 4;
    transition: 0.2s;
    box-shadow: 0px 0px 3px $primary;
  }

  #C {
    grid-column: span 4;
    transition: 0.2s;
    color: $light;
    box-shadow: 0px 0px 3px $secondary;
    background-color: $secondary;
  }

  #equal:active,
  #C:active {
    opacity: 0.8;
  }

  .op-basic,
  .fa-minimize,
  .fa-expand {
    color: darken($primary, 10%);
  }

  .sci {
    display: none;
  }
}

// Light mode and scientific calculator
.calculator.active {
  grid-template-columns: repeat(5, 60px);

  .sci {
    display: inline;
  }

  #display {
    grid-column: span 5;
  }

  #C {
    grid-column: span 1;
  }

  #equal {
    grid-column: span 1;
  }

  #sci-toggle {
    background-color: hsl(0, 0%, 90%);

    &:hover {
      background-color: hsl(0, 0%, 80%);
    }

    &:active {
      background-color: hsl(0, 0%, 70%);
    }
  }

  .hidden {
    display: none;
  }

  .second-row-pressed {
    background-color: $primary;
    color: #fafafa;
    font-weight: bold;
  }
}
