@media screen and (min-width: 640px) {
  .calculator {
    height: auto;
    button {
      font-size: 1.4rem;
      padding: 1.1rem 1.3rem;
    }
  }
}

// Media query for desktop
@media screen and (min-width: 768px) {
  body {
    grid-template-areas: "header calc dark-mode";
    grid-template-columns: repeat(3, 1fr);
  }

  #equal:hover,
  #C:hover {
    transform: scale(1.01);
    opacity: 0.8;
  }

  .calculator.active {
    grid-template-columns: repeat(5, 75px);
  }
}
