@import "./vars";

#shortcuts {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

.shortcuts-modal {
    width: 95%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: none;
    border-radius: 10px;
    background-color: $light;

    div {
        display: flex;
        justify-content: space-between;
    }

    #modal-close {
        cursor: pointer;
    }

    ul {
        padding: 1rem;

        li {
            padding: 0.25rem;
        }

        span {
            font-weight: bold;
            color: darken($primary, 10%);
        }
    }
}
